<h1>Add Folder</h1>
{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
<form action="{% url 'notes:do_add_folder' %}" method="post">
  {% csrf_token %}
  <input type="text" name="folder_name" id="folder_name" value="folder name"/>
  <input type="submit"  value="Add"/>
</form>
