<h1>Add Note</h1>
{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
<form action="{% url 'notes:do_add_note' %}" method="post">
  {% csrf_token %}
  <input type="text" name="note_name" id="note_name" value="note name"/>
  <input type="text" name="folder_name" id="folder_name" value="folder to save in"/>
  <input type="text" name="note_content" id="note_content" value="Your note here..."/>
  <input type="checkbox" name="public" value="public">Public?<br>
  <input type="submit"  value="Add"/>
</form>
