<h1>Login</h1>
{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
<form action="{% url 'notes:login' %}" method="post">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Login"/>
</form>
