<h1>Move Note</h1>
<form action="{% url 'notes:do_move_note' %}" method="post">
  {% csrf_token %}
  <input type="text" name="note_id" id="note_id" value="note id"/>
  <input type="text" name="dest_id" id="dest_id" value="destination folder id"/>
  <input type="submit" value="Move"/>
</form>
