<h1>Sign Up</h1>
{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
<form action="{% url 'notes:do_signup' %}" method="post">
  {% csrf_token %}
  <input type="text" name="username" id="username" value="username"/>
  <input type="password" name="password" id="password" value="password"/>
  <input type="text" name="email" id="email" value="address@example.com"/>
  <input type="submit" value="Signup"/>
</form>
